body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-color:rgb(175, 242, 242);
    padding: 10px;
    margin: auto;
}
.header::after {
    content: '';
    clear: both;
    display: block;
}
.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}
.login_area {
    background: linear-gradient(#fff4f4, #D4D9E9);
    margin-top: -35px;
    padding: 0;
}
.login_area::after {
    content: '';
    clear: both;
    display: block;
}
.container{
    margin: auto;
    padding: 0;
    width: 500px;
    height: 550px;
    background-color: wheat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.h1{
    font-size: 40px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.hr1{
    margin-top: -15px;
}
input[type="text"]{
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #c4d4f0;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 18px;
    margin: 15px 0 ;
    height: 50px;
}
.select1{
    width: 80%;
    height: 50px;
    font-size: 20px;
    overflow: hidden;
    position: relative;
    font-family: Arial;
    border: 1px solid #c4d4f0;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 0 ;
}
.B1{
    width: 80%;
    height: 50px;
    font-size: 30px;
    font-family: Arial;
    border: 1px solid #c4d4f0;
    background-color:rgb(154, 250, 58);
    padding:5px;
    border-radius: 5px;
    margin: 10px 0 ;
}
.p1{
    font-size: 20px;
}
.p2{
    font-size: 20px;
    margin-top: 20px;
}
.footer{
    height: 150px;
    background-color:  #333E4F;
    margin: -10px;
}
.ul1{
    margin-left: 400px;
    float: left;
    font-size: 20px;
    color: #9CA9BE;
}
.ul2{
    float: right;
    margin-right: 300px;
    font-size: 20px;
    color: #9CA9BE;
}